{% extends 'base.html' %}

{% block 'title' %}Sobre{% endblock %}

{% block 'body' %}
<div class="container-fluid">
    <br>
    <h1 style="text-align: center;">Página Sobre</h1>
    <br>
    <h5 style="text-align: center;">{{ request.path }}</h5>
    <br>
    <p style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, illum! Impedit quis officiis itaque ex cumque,
        sint eos possimus architecto! Aliquam odio laudantium sequi animi, ea fugit reprehenderit iste facere.</p>
    <p style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, illum! Impedit quis officiis itaque ex cumque,
        sint eos possimus architecto! Aliquam odio laudantium sequi animi, ea fugit reprehenderit iste facere.</p>
    <p style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, illum! Impedit quis officiis itaque ex cumque,
        sint eos possimus architecto! Aliquam odio laudantium sequi animi, ea fugit reprehenderit iste facere.</p>
</div>
{% endblock %}