{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Vitrine{% endblock %}

{% block 'body' %}
<main class="main-content">
	<div class="container-fluid bg-cream">
		<div class="container-md py-2">
			<div class="row row-cols-sm-2 g-2">

				<!-- Bootstrap Card -->
				{% for i in products %}
				<div class="col-md-3">
					<div class="d-flex h-100">
						{% if i.promotion %}
						<span id="FlagPromotion" class="bg-warning border border-end-0 border-dark">Promoção</span>
						<div class="card card-product text-center border-dark bg-cream h-100">
							<img src="{{ i.image.url }}" class="card-img-top card-img-flag" alt="Image Product Card">
						{% else %}
						<div class="card text-center border-dark bg-cream h-100">
							<img src="{{ i.image.url }}" class="card-img-top" alt="Image Product Card">
						{% endif %}

							<div class="card-body">

								<div class="d-flex flex-column h-100">
									<div class="flex-grow-1 h-100"><h5 class="card-title ">{{ i.name }}</h5></div>
									<h3 class="card-title">R$ {{ i.value }}</h3>
									<a href="#" class="btn btn-primary btn-border">Saiba mais</a>
								</div>

							</div>

						</div>
					</div>

				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</main>
{% endblock %}