{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Vitrine{% endblock %}

{% block 'body' %}
<main>
	<div class="container-fluid" style="background-color: #f4ffbb;">
		<div class="container py-2">
			<div class="row row-cols-1 row-cols-sm-5 g-1">

				{% for i in products %}
				<!-- Bootstrap Card -->
				<div class="col">
					<div class="card h-100 text-center border-dark" style="background-color: #f4ffbb;">
						
						<img src="{{ i.image.url }}" class="card-img-top" alt="Image Product Card">
						
						<div class="card-body">
							<h5 class="card-title">{{ i.name }}</h5>
							<h3 class="card-title">R$ {{ i.value }}</h3>
							<!-- <p class="card-text" style="text-align: left;">{{ i.description }}</p> -->
							<a href="#" class="btn btn-primary">Saiba mais</a>
						</div>

						{% if i.promotion %}
						<div class="card-footer text-uppercase text-black fw-bold bg-warning border-top border-dark" style="letter-spacing: .7rem;">Promoção</div>
						{% endif %}

					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</main>
{% endblock %}

				<!-- <div class="card mb-3 border-0" style="max-width: 540px; background-color: #7cc876;">
				<div class="card-header text-uppercase text-black fw-bold bg-warning border-warning">Promoção</div>
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{% static 'img/brand.png' %}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
		
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
		
					</div>
				</div>
			</div> -->
